/*Standart*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
body {
    margin: 0;
    font-family: 'Amatic SC', cursive;
    font-size: 1.2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 5%;
    margin-right: 5%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.parent {
    display: grid;
    grid-template-areas: "header" "months" "days" "selection" "otherHumans" "autorization"
}
h1 {
    grid-area: header;
    text-align: center;
}
p {
    text-align: center;
}
div {
    text-align: center;
}
ul {
    list-style: none;
}

/*Main window*/
/*Top part*/

.monthSelection {
    display: grid;
    grid-area: months;
    text-align: center;
    grid-template-columns: 33% 33% 33%
}
.week {
    display: grid;
    grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%;
    padding-inline-start: 0px;
}

/*Middle part*/
.dayTable {
    display: grid;
    grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh;
    grid-area: days;
    margin-bottom: 95px;
}
.weekend {
    color: #ECC49C;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: white;
}
.day {
    text-decoration: underline;
    text-decoration-color: white;
}


/*Bottom part*/
.select {
    grid-area: title;
    width: 100vw;
    background-color: white;
    position: fixed;
    bottom: 65px;
    left: 0;
}
.answers {
    display: grid;
    justify-content: center;
    grid-area: selection;
    grid-template-areas: "positive ambivalent negative";
    grid-template-columns: 30% 100px 30%;
    background-color: white;
    width: 90%;
    margin-left: 5%;
    height: 30px;
    position: fixed;
    bottom: 35px;
    left: 0;
}
.bottomPanel {
    flex-direction: row;
    grid-area: otherHumans;
    background-color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    position: fixed;
    width: 90%;
    height: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 15px;
    bottom: 0;
    left: 0;
}
.showFreeDays {
    text-align: right;
    margin-right: 10px;
}
.prove{
    text-align: left;
    margin-left: 10px;
}
.positiveAnswer {
    text-align: right;
    grid-area: positive;
}
.ambivalentAnswer {
    grid-area: ambivalent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8em;
}
.negativeAnswer {
    text-align: left;
    grid-area: negative;
}

.positiveAnswer:hover {
    color: grey;
}
.ambivalentAnswer:hover {
    color: grey;
}
.negativeAnswer:hover {
    color: grey;
}